<h1 class="center-text dpfont text-5xl">Welcome to FinLit Quest!</h1>
<h3 class="center-text hermitfont">To begin exploring, please first sign in with Google</h2>
<div class="flex flex-row justify-center">
    <%= button_to "Sign in with Google", "/auth/google_oauth2", data: {turbo: "false"}, id: "google-sign-in", class: "hermitfont py-2 px-4 rounded bg-blue-500 text-white hover:bg-blue-700" %>
</div>
