<div id="<%= dom_id inventory %>">
  <p>
    <strong>Item:</strong>
    <%= inventory.item %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= inventory.owner_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

</div>
