

<div class="flex flex-col py-4">
  <h1 class="center-text">New Inventory</h1>
  <div class = "flex justify-center">
    <div class="card-display hermitfont">
      <%= render "form", inventory: @inventory %>
    </div>
  </div>

  <br>

  <div class="flex justify-center mt-4">
    <%= button_to "Back to inventories", inventories_path, method: :get, class:"hermitfont blue-button" %>
  </div>
</div>
