<!-- app/views/gameplays/game_over.html.erb -->
<h1>Game Over</h1>
<p>You can't afford to pay your expenses, and you have no time left!</p>
<%= button_to 'Restart', restart_game_path, class: 'button-class' %>

