<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="welcome-banner">
  <h1 class = "center-text nicefont">Welcome to Town <%=@player_level%>!</h1>
</div>

<div id="non_players">
  <% @characters.each do |character| %>
    <% if character.is_a?(Nonplayer) %>
      <p>
        <%= button_to character.name, character_profile_path(character), class: "button-b", method: :get %>
      </p>
    <% end %>
  <% end %>
</div>

</body>
<%= button_to "Back", root_path, class: "button-b", method: :get %>
