<%= stylesheet_link_tag "application" %>

<%= render 'nav_header'%>

<p style="color: green"><%= notice %></p>

<h1 class="center-text nicefont">Under Construction</h1>

<%= button_to "Back", root_path, class: "button-b", method: :get %>