<div id="<%= dom_id nonplayer %>">
  <p>
    <strong>Character:</strong>
    <%= nonplayer.character_id %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= nonplayer.personality %>
  </p>

  <p>
    <strong>Dialogue:</strong>
    <%= nonplayer.dialogue_id %>
  </p>

</div>
