<%= render 'gameplays/nav_header'%>

<h1>Editing nonplayer</h1>

<%= render "form", nonplayer: @nonplayer %>

<br>

<div>
  <%= link_to "Show this nonplayer", @nonplayer %> |
  <%= link_to "Back to nonplayers", nonplayers_path %>
</div>
