

<div class = "flex flex-col justify-center center-text">
  <h1 class="text-4xl mt-2">Nonplayers</h1>

  <%= button_to "New nonplayer", new_nonplayer_path, method: :get, class:"hermitfont green-button mt-4 mb-4" %>


  <div id="nonplayers" class="flex flex-wrap justify-center py-4">
    <% @nonplayers.each do |nonplayer| %>
      <div class="card-display">
        <%= render nonplayer %>
        <p>
          <%= button_to "Show this nonplayer", nonplayer, method: :get, class:"hermitfont blue-button mt-2" %>
        </p>
      </div>
    <% end %>
  </div>
  <%= button_to "Back to Admin Panel", admin_panel_path, class: "admin-back-button blue-button", method: :get%>
</div>