<div class = "nicefont" style="display: flex; flex-direction: column; justify-content: space-between; text-align: center; height: 100vh; padding: 20px;">
  <div>
    <h1>Tutorial: Era <%= @tutorial_level %></h1>
  </div>

  <div>
      <p>Welcome to Era <%= @tutorial_level %>! The tutorial for this Era is still under construction.</p>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <%= button_to 'Back', root_path, class: "button-b", method: :get %>
  </div>

</div>