<h1>World <%= @tutorial_level %></h1>

<% if @tutorial_level == 1 %>
  <% if @page == 1 %>
    Welcome to FinLitQuest!
  <% elsif @page == 2 %>
    FinLitQuest is an adventure game designed to educate users on financial literacy, from core concepts such as bartering to debt, investing, and more.
  <% elsif @page == 3 %>
    Start playing by visiting the town. There, you should find some other townsfolk to trade with and start working towards your shopping list.
  <% elsif @page == 4 %>
    What's your shopping list you ask? Well, in order to advance to the next world, you first need to acquire some items to buy a rocket ticket with! You can check your shopping list and its progress on your sidebar.
  <% elsif @page == 5 %>
    Also, I want to remind you that you have expenses such as food as well, so don't forget to keep yourself fed!
  <% elsif @page == 6 %>
    Go ahead and start exploring, and I'll see you on world 2!
  <% else %>
    This is awkward
  <% end %>

<% elsif @tutorial_level == 2 %>
  <% if @page == 1 %>
    Welcome to world 2!
  <% elsif @page == 2 %>
    Congratulations on making it past the first world! I hear you are an excellent barterer.
  <% elsif @page == 3 %>
    On this world, you're going to discover a new tool for trading: currency.
  <% elsif @page == 4 %>
    Instead of trading item for item, currency introduces a medium that has a value which all parties in a transaction agree on.
  <% elsif @page == 5 %>
    You'll notice some new options on your trading pages in with other townspeople: the options to buy and sell along with bartering. You'll also have a new indicator for the amount of money you have along with your inventory.
  <% elsif @page == 6 %>
    When you buy and sell, you'll exchange your money for items or your items for money, respectively. You'll also be able to see the value of your items and the price that your trading partner is selling their items for.
  <% elsif @page == 7 %>
    So go ahead and start working towards your new rocket ticket, but this time you're going to need to purchase it with currency!
  <% else %>
    This is awkward
  <% end %>

<% else %>
  Good luck :p
<% end %>

<%= button_to (@page < @last_page ? 'Next' : 'Done') , (@page < @last_page ? tutorial_path(page: @page + 1) : root_path), class: "button-b", method: :get %>
<%= button_to 'Back', (@page > 1 ? tutorial_path(page: @page - 1) : root_path), class: "button-b", method: :get %>