<h1 class="center-text nicefont">Welcome to FinLit Quest!</h1>
<h2 class="center-text nicefont">To begin exploring, please first sign in with Google</h2>
<div class="flex flex-row justify-center"><%= button_to "Sign in with Google", "/auth/google_oauth2", data: {turbo: "false"}, id: "google-sign-in" %></div>
