<p style="color: green"><%= notice %></p>

<h1>Inventories</h1>

<div id="inventories">
  <% @inventory.each do |inventory| %>
    <%= render inventory %>
    <br>
  <% end %>
</div>

<%= button_to "Back", character_profile_path(@character), class: "button-b", method: :get %>
