

<div class="flex justify-center">
  <%= render @character %>

  <div>
    <%= link_to "Edit this character", edit_character_path(@character), class:"hermitfont blue-button" %> |
    <%= link_to "Back to characters", characters_path, class:"hermitfont blue-button" %>

    <%= button_to "Destroy this character", @character, method: :delete, class:"hermitfont red-button" %>
  </div>
</div>