<div id="<%= dom_id preference %>">
  <p>
    <strong>Occupation:</strong>
    <%= preference.occupation %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= preference.item.name %>
  </p>

  <p>
    <strong>Multiplier:</strong>
    <%= preference.multiplier %>
  </p>

</div>
