

<div class="flex flex-col py-4">
  <h1 class="center-text">New Preference</h1>
  <div class = "flex justify-center">
    <div class="card-display hermitfont">
      <%= render "form", preference: @preference %>
    </div>
  </div>
  <br>

  <div class="flex justify-center hermitfont mt-4">
    <%= button_to "Back to preferences", preferences_path, method: :get, class:"blue-button" %>
  </div>
</div>
