<div class="flex flex-col py-4">
  <h1 class="center-text">Editing Player</h1>
  <div class = "flex justify-center">
    <div class="card-display hermitfont">
      <%= render "form", player: @player %>
    </div>
  </div>
  <br>

<div class="flex flex-row justify-center">
  <%= button_to "Show this player", @player, method: :get, class:"hermitfont blue-button mr-2"%>
  <%= button_to "Back to players", players_path, method: :get, class:"hermitfont blue-button ml-2"%>
</div>
</div>
