<%= render 'gameplays/nav_header'%>

<div class = "flex flex-col justify-center center-text">
  <h1 class="text-4xl mt-2">Items</h1>

  <%= button_to "New item", new_item_path, method: :get, class:"hermitfont green-button mt-4 mb-4" %>

  <div id="items" class="flex flex-wrap justify-center py-4">
    <% @items.each do |item| %>
      <div class="card-display">
        <%= render item %>
        <p>
          <%= button_to "Show #{item.name}", item, method: :get, class:"hermitfont blue-button mt-2" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
