<%= render 'gameplays/nav_header'%>

<div class="flex flex-col py-4">
  <h1 class="center-text">New Item</h1>
  <div class = "flex justify-center">
    <div class="card-display hermitfont">
      <%= render "form", item: @item %>
    </div>
  </div>
  <br>

  <div class="flex justify-center mt-4 hermitfont">
    <%= button_to "Back to items", items_path, method: :get, class:"blue-button" %>
  </div>
</div>