<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Item:</strong>
    <%= shopping_list.item.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= shopping_list.level %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shopping_list.quantity %>
  </p>

</div>
