

<div class="flex flex-col justify-center center-text py-4">
  <h1>Showing Shopping List</h1>
  <div class="flex justify-center">
    <div class="card-display">
      <%= render @shopping_list %>
    </div>
  </div>

  <div class="flex flex-wrap justify-center hermitfont mt-4">
    <%= button_to "Edit this shopping list", edit_shopping_list_path(@shopping_list), method: :get, class:"green-button mr-2" %>
    <%= button_to "Back to shopping lists", shopping_lists_path, method: :get, class:"blue-button ml-2 mr-2" %>
    <%= button_to "Destroy this shopping list", @shopping_list, method: :delete, class:"red-button ml-2" %>
  </div>
</div>
