.nonplayer-container {
    text-align: center;
}

.nonplayer-container img {
    display: block;
    margin: 0 auto;
    width: 120px; 
    height: auto;  
    image-rendering: pixelated;
}

#left-town img{
    /* width: 15vw; */
    height: 75vh;
    max-height: 500px;
}

#right-town img{
    /* width: 15vw; */
    height: 75vh;
    max-height: 500px;
}
