<%= render 'gameplays/nav_header'%>

<div class="flex flex-col py-4">
  <h1 class="center-text">Editing Expense</h1>
  <div class = "flex justify-center">
    <div class="card-display hermitfont">
      <%= render "form", expense: @expense %>
    </div>
  </div>

<br>

<div class="flex justify-center hermitfont mt-4">
  <%= link_to "Show this expense", @expense, method: :get, class:"blue-button mr-2"%> 
  <%= link_to "Back to expenses", expenses_path, method: :get, class:"blue-button ml-2" %>
</div>
