<%= render 'gameplays/nav_header'%>

<div class = "flex flex-col justify-center center-text">
  <h1 class="text-4xl mt-2">Expenses</h1>

  <div id="expenses" class="flex flex-wrap justify-center py-4">
    <% @expenses.each do |expense| %>
      <div class="card-display">
        <%= render expense %>
        <p>
          <%= button_to "Show this expense", expense, method: :get, class:"hermitfont blue-button mt-2" %>
        </p>
      </div>
    <% end %>
  </div>

  <%= button_to "New expense", new_expense_path, method: :get, class:"hermitfont green-button mt-2"%>
</div>
