name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup .netrc
        run: |
          cat << EOF > $HOME/.netrc
          machine git.heroku.com
            login ${{ secrets.HEROKU_EMAIL }}
            password ${{ secrets.HEROKU_API_KEY }}
          EOF
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}

      - name: Deploy to Heroku
        run: |
          heroku git:remote --app fin-lit-quest
          git push heroku +${GITHUB_REF#refs/heads/}:main
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
