name: "Run Tests"

on:
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "documentation/**"
      - "README.md"

jobs:
  all_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.2'
        bundler-cache: true

    - name: Run Rspec
      run: |
        bundle exec rspec -fd --fail-fast | tee rspec-output.txt

    - name: Run Cucumber
      run: |
        bundle exec rails cucumber 

    - name: Archive Rspec report
      id: upload-artifact
      uses: actions/upload-artifact@v4
      with:
        name: rspec-coverage
        path: coverage/
  
    - name: Test & publish code coverage
      uses: paambaati/codeclimate-action@v5.0.0
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CODE_CLIMATE_REPORTER_ID }}

